<div class="container">

<form class="form item" (ngSubmit)="onSubmit(checkoutForm.value)" [formGroup]="checkoutForm">
  <mat-form-field class="form__element">
    <input 
    matInput
    required
    formControlName="name"
    name="name"
    placeholder="Nombre"
    >
  <mat-error *ngIf=" checkoutForm.get('name')?.touched && checkoutForm.get('name')?.errors?.['required']">
    El Campo es requerido.
  </mat-error>
  <mat-error *ngIf="checkoutForm.get('name')?.touched && checkoutForm.get('name')?.errors?.['minlength']">
    No puede ser menor a {{ checkoutForm.get('name')?.errors?.['minlength'].requiredLength }}
  </mat-error>
  </mat-form-field>

  <mat-radio-group formControlName="delivery" class="form__element">
    <p>Escoja una opcion</p>
    <div class="btns">
      <mat-radio-button
      value="tienda"
      (change)="onPickupOrDelivery(false)" checked
      >Tienda</mat-radio-button>
      

      <mat-radio-button
      value="delivery"
      (change)="onPickupOrDelivery(true)"
      >Delivery</mat-radio-button>
    </div>
  </mat-radio-group>

  <ng-container *ngIf="isDelivery; else showStores">

    <mat-form-field class="form__element">
      <input 
      matInput
      placeholder="Ciudad"
      name="city"
      >    
    </mat-form-field>

    <mat-form-field class="form__element">
      <input 
      matInput
      placeholder="Dirrección de envio"
      name="shippingAddress"
      >    
    </mat-form-field>
 
  </ng-container>
  
  <ng-template #showStores>

    <mat-form-field class="form__element">
      <mat-label>Select Me</mat-label>
      <mat-select formControlName="store" name="store" >
        <mat-option *ngFor="let tienda of stores" value="tienda">
          {{ tienda.name }} - {{tienda.openingHours }}  
        </mat-option>
      </mat-select>
    </mat-form-field>
  
  </ng-template>

  <app-details></app-details>

  <div class="container__button">
    <button
    mat-raised-button
    [disabled]="!checkoutForm.valid"
    color="primary"
    type="submit"
    >
    Checkout
    </button>
  </div>

</form>
</div>